.input-names {
  margin-bottom: 1rem;
}

.centerlize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formated-lines {
  border-bottom: 1px solid #dacfcf;
  margin-bottom: 0.5rem;
}
